<nav class="navbar navbar-light bg-white border-bottom mb-4">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand fw-bold" href="/">MiniShop</a>

        <div class="d-flex align-items-center gap-2">
            <label class="fw-bold mb-0">Customer:</label>

            <select id="customerSelect" class="form-select form-select-sm w-auto">
                <option value="1">Jordan Lawrence</option>
                <option value="2">Hayley Ryan</option>
            </select>

        <a href="/Home/Cart">cart</a>
        </div>
    </div>
</nav>

