<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiniShoppingApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiniShoppingApp.styles.css" asp-append-version="true" />
</head>
<body>

        @await Html.PartialAsync("_Header")

        <main role="main" class="pb-3">
        <div class="container">
        @RenderBody()
        </div>
        </main>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 9999">
    <div id="addedToast"
         class="toast text-bg-success border-0"
         role="alert"
         aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                @TempData["AddedMessage"]
            </div>
            <button type="button"
                    class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast"></button>
        </div>
    </div>
</div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/cart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var toastEl = document.getElementById('addedToast');

        if (toastEl && toastEl.querySelector('.toast-body').innerText.trim() !== "") {
            var toast = new bootstrap.Toast(toastEl);
            toast.show();
        }
    });
</script>

</body>
</html>
